#wrapper1{
	display:flex;
	justify-content: flex-start;
}
#wrapper2{
	display:flex;
	justify-content:flex-start;
}

#searchbtn{
	justify-content:flex-end;;
}
#field-group1, #field-group2,#field-group3{
	padding-left:0;
	padding-right:30px;
	
}
#field-group4,#field-group5,#field-group6,#field-group7{
	padding-left:0;
	padding-right:30px;
	
}
#limitUserForm{
	display:flex;
}

.aui-nav-pagination{
	float:left;
}

#field-group8{
	text-align:right;
}

#wrapper1 div{
	  flex-basis: 500px;
	
}
#wrapper2 div{
	  flex-basis: 360px;
	
}
input{
	size:30;
}

.capitalize {
  text-transform: capitalize;
}
.select2-container-multi .select2-choices .select2-search-choice {
    padding: 5px 5px 5px 18px;
}